.login-page {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    background-color: #f9f9f9; 
    font-family: Arial, sans-serif;
    padding: 0 20px; 
    box-sizing: border-box;
    text-align: center; 
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
    text-align: left; 
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.login-form input:focus {
    border-color: #007bff;
    outline: none;
}

.login-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.login-form button:hover {
    background-color: #555;
}

.login-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}
